<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175882833352-ea7nu7l4v6r5976534mqfa5pgn3qdi0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175882833352-ea7nu7l4v6r5976534mqfa5pgn3qdi0o</string>
	<key>API_KEY</key>
	<string>AIzaSyCDrXMaHvjp3QQF8KpVZe4ELhhFyvtC3zs</string>
	<key>GCM_SENDER_ID</key>
	<string>175882833352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.terry.mSaving</string>
	<key>PROJECT_ID</key>
	<string>msaving-18558</string>
	<key>STORAGE_BUCKET</key>
	<string>msaving-18558.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175882833352:ios:f10d34300b89f29c</string>
	<key>DATABASE_URL</key>
	<string>https://msaving-18558.firebaseio.com</string>
</dict>
</plist>